h4 {
  text-align: center;
}


div.header {
  margin-top: 5px;
  padding-top: 5px;
  background: #c0f7cc;
}

img.logo {
    width: 30px;
    height: 30px;
}

div.right {
    text-align: right;
}

table.code, table.modules {
  width: 100%;
}

pre {
  border: none;
}

table.code td {
  max-width: 45%;
  vertical-align: top;
}

table.code td:left {
    border-right: 1px solid gray;
}

span.title {
    font-weight: bold;
}
