h4 {
  text-align: center;
}

img.logo {
    width: 30px;
    height: 30px;
}

div.right {
    text-align: right;
}

table.code, table.modules {
  width: 100%;
}

pre {
  border: none;
}

table.code td {
  width: 45%;
  vertical-align: top;
}

span.title {
    font-weight: bold;
}
